@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
/*
I coded this myself! 😍🤪
just for my friends plz do not take this seriously
*/

a:link {
    font-size: 100%;
    font-weight: 700;
    letter-spacing: 0.04em; 
    text-align: center;
    font-family: "Questrial";
    color: white;
  }
  
  section{
    justify-content: center;
    display: inline-block;
    margin-top: 6em; 
    margin-right: 1em; 
    margin-left: 1em;
  }
body {
    text-align: center;
    font-size: 2.3em;
    width: 99%;
    font-family: "Questrial";
    color: rgb(57, 57, 57);
  }

button {
    background-color: none;
    display: inline-block;
    font-size: .4em;
    font-family: "Questrial";
    color: white;
    background-color: transparent;
    height: 100%;
    border: none;
    outline: none;
  }

  button:hover {
   /* add a tooltip for when hovered
   */
  }


  .flex-container > div {
    width: inherit;
    height: inherit;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
  }

  .container {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    float: left;
    margin: 2em;
  }

  .cell {
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cell-1 {
    background: rgb(254, 79, 79);
  }
  .cell-2 {
    background: rgb(254, 155, 79);
  }
  .cell-3 {
    background: rgb(245, 209, 62);
  }
  .cell-4 {
    background: rgb(129, 222, 111);
  }
  .cell-5 {
    background: rgb(105, 228, 185);
  }
  .cell-6 {
    background: rgb(103, 189, 220);
  }
  .cell-7 {
    background: rgb(103, 126, 220);
  }
  .cell-8 {
    background: rgb(165, 103, 220);
  }
  .cell-9 {
    background: rgb(220, 103, 177);
  }


  .grid-container {
    display: grid;
    padding: 0px;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: auto;
  }
  
header {
    justify-content: left;
    font-family: 'Questrial';
    overflow: hidden;
  }

h1 {
    font-weight: 700;
    font-size: 2.6em;
    letter-spacing: 0.04em; 
    text-align: center;
    font-family: "Questrial";
    margin-top: .19em;
    margin-bottom: .12em;
}
h2 {
    font-size: 20%;
    font-weight: 700;
    letter-spacing: 0.04em; 
    text-align: center;
    font-family: "Questrial";
    margin: .5em;
}
h3 {
    font-size: 40%;
    font-weight: 700;
    letter-spacing: 0.04em; 
    text-align: center;
    font-family: "Questrial";
    margin: .5em;
}


  @media only screen and (max-width: 768px) {
    a:link{
      font-size: 80%;
    }

    button {
      height: 100%;
      width: 100%;
    }

    .container {
      display: grid;
      grid-gap: 10px 10px;
      grid-template-columns: 80px 80px 80px;
      grid-template-rows: 80px 80px 80px;
    }

    .cell {
      font-size: 1.5rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .noScroll {
      overflow: hidden;
      position:fixed;
  }

    h1 {
      font-size: 2.2em;
      font-weight: 900;
      letter-spacing: 0.009em; 
    }

    body {
      font-size: 1.5em;
    }

    html, body {
      margin: 0;
      height: 100%;
      overflow: hidden
    }

    section{
      justify-content: center;
      display: inline-block;
      margin-top: 2em; 
      margin-right: 1em; 
      margin-left: 1em;
    }
  }